<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] </title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header>
             <nav>
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                     <img src="../imagenes/logo.png" class="d-inline-block align-text-middle" width=25>
                    WorldConcerts
                     </a>
                </div>
                
            </nav>
        </header>
        
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>
        <footer>
                <p>Hecho por: Ariana Castro, Agustina Potasman, Lola Vazquez y Sasha Vilamowski</p> 
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
