@model List<HistorialCompras>

<h2>Historial de Compras</h2>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Concierto</th>
            <th>Fecha de Compra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compra in Model)
        {
            <tr>
                <td>@compra.IdUsuario</td>
                <td>@compra.IdConcierto</td>
                <td>@compra.FechaCompra</td>
            </tr>
        }
    </tbody>
</table>
