/* Estilos generales */
html {
  font-size: 16px;
  text-align: center;
}

html, body {
  position: relative;
  min-height: 100%;
}

.container {
  margin-top: 250px;
}

/* Estilos para los formularios */
.form-group {
  margin-bottom: 15px; 
}

.btn-success, .btn-comprar {
  width: 40%;
  padding: 10px;
  background-color: #218838;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-success:hover, .btn-comprar:hover {
  background-color: #196229;
}

/* Estilos para el cuerpo */
body {
  background: linear-gradient(90deg, rgb(164, 18, 232) 0%, rgb(164, 18, 232) 30%, rgb(164, 18, 232) 72%, rgb(164, 18, 232) 100%);
}

/* Estilos para la barra de navegación */
nav {
  background-color: black;
  height: 60px;
}

nav .container-fluid {
  display: flex;
  align-items: center;
}

nav .container-fluid a {
  text-decoration: none;
  color: white;
}

nav .container-fluid img {
  margin-top: 0.6%;
}

/* Estilos para el carrusel */
#carouselExampleIndicators {
  margin: auto;
  width: 50%;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

/* Estilos para los enlaces */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para las tarjetas */
.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.likes {
  font-size: medium;
  margin-bottom: -11%;
  margin-left: 12%;
}

.corazon {
  width: 10%;
  height: auto;
  margin-right: 5%;
}

.masInfo {
  margin-top: 5%;
}
