USE [master]
GO
/****** Object:  Database [WorldConcerts]    Script Date: 30/11/2023 15:01:49 ******/
CREATE DATABASE [WorldConcerts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorldConcerts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WorldConcerts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorldConcerts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WorldConcerts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldConcerts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorldConcerts]
GO
/****** Object:  User [alumno]    Script Date: 30/11/2023 15:01:49 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[TipoCategoria] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conciertos]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conciertos](
	[IdConcierto] [varchar](50) NOT NULL,
	[Nombre] [varchar](70) NOT NULL,
	[fkUsuario] [int] NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[FechaConcierto] [date] NOT NULL,
	[Imagen] [text] NOT NULL,
	[Precio] [int] NOT NULL,
	[fkCategoria] [int] NOT NULL,
	[CantLikes] [int] NULL,
 CONSTRAINT [PK_Conciertos] PRIMARY KEY CLUSTERED 
(
	[IdConcierto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Numero] [int] IDENTITY(1,1) NOT NULL,
	[Titular] [varchar](50) NOT NULL,
	[CodigoSeg] [int] NOT NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (1, N'Pop')
INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (2, N'Rock')
INSERT [dbo].[Categorias] ([IdCategoria], [TipoCategoria]) VALUES (3, N'Rap')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
INSERT [dbo].[Conciertos] ([IdConcierto], [Nombre], [fkUsuario], [Descripcion], [FechaConcierto], [Imagen], [Precio], [fkCategoria], [CantLikes]) VALUES (N'10', N'Taylor Swift', NULL, N'The Eras Tour', CAST(N'2024-04-21' AS Date), N'https://media.admagazine.com/photos/6421c251b63d56abbb4a6336/16:9/w_5999,h_3374,c_limit/GettyImages-1474485122.jpg', 15, 1, 22)
INSERT [dbo].[Conciertos] ([IdConcierto], [Nombre], [fkUsuario], [Descripcion], [FechaConcierto], [Imagen], [Precio], [fkCategoria], [CantLikes]) VALUES (N'11', N'Bad Bunny', NULL, N'La ultima llamada', CAST(N'2024-07-22' AS Date), N'https://www.billboard.com/wp-content/uploads/2023/10/bad-bunny-press-2023-billboard-1548.jpg?w=942&h=623&crop=1', 32, 6, 4)
INSERT [dbo].[Conciertos] ([IdConcierto], [Nombre], [fkUsuario], [Descripcion], [FechaConcierto], [Imagen], [Precio], [fkCategoria], [CantLikes]) VALUES (N'12', N'Rauw Alejandro', NULL, N'Algo Magico', CAST(N'2024-08-27' AS Date), N'https://media.gq.com.mx/photos/63a310423105d93f46dc2bf6/4:3/w_2664,h_1998,c_limit/Rauw%20Alejandro%20durante%20Grammys.jpg', 21, 3, 35)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (1, N'11', N'll')
INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (2, N'12', N'hola')
INSERT [dbo].[Usuarios] ([IdUsuario], [Contraseña], [Nombre]) VALUES (3, N'queteimporta', N'cami123')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Conciertos]  WITH CHECK ADD  CONSTRAINT [FK_Conciertos_Categorias] FOREIGN KEY([fkCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Conciertos] CHECK CONSTRAINT [FK_Conciertos_Categorias]
GO
ALTER TABLE [dbo].[Conciertos]  WITH CHECK ADD  CONSTRAINT [FK_Conciertos_Usuarios] FOREIGN KEY([fkUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Conciertos] CHECK CONSTRAINT [FK_Conciertos_Usuarios]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarLikesconcierto]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarLikesconcierto]
    @IdConcierto VARCHAR(50),
    @CantLikes INT
AS
BEGIN
    UPDATE Conciertos
    SET CantLikes = CantLikes + @CantLikes
    WHERE IdConcierto = @IdConcierto;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 30/11/2023 15:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarUsuario]
    @Contraseña VARCHAR(50),
    @Nombre VARCHAR(50)
AS
BEGIN
    INSERT INTO Usuarios (Contraseña, Nombre)
    VALUES (@Contraseña, @Nombre);
END


GO
USE [master]
GO

CREATE TABLE [dbo].[HistorialCompras](
    [Id] INT IDENTITY(1,1) PRIMARY KEY,
    [IdUsuario] INT NOT NULL,
    [IdConcierto] VARCHAR(50) NOT NULL,
    [FechaCompra] DATETIME NOT NULL,
    [Cantidad] INT NOT NULL,
    [PrecioTotal] DECIMAL(10,2) NOT NULL,
    CONSTRAINT [FK_HistorialCompras_Usuarios] FOREIGN KEY ([IdUsuario]) REFERENCES [dbo].[Usuarios]([IdUsuario]),
    CONSTRAINT [FK_HistorialCompras_Conciertos] FOREIGN KEY ([IdConcierto]) REFERENCES [dbo].[Conciertos]([IdConcierto])
);